<h1><%= t('editing_competition')%></h1>

<%= render 'form', competition: @competition %>

<br/>
<%= link_to t('show'), @competition, class: "btn btn-default" %>
<%= link_to t('back'), competitions_path, class: "btn btn-default" %>
