<tr>
  <td>
    <%= gravatar_for user, size: 50 %>
  </td>
  <td>
    <%= link_to user.name, user %>
  </td>
  <td>
    <%= user.team.name %>
  </td>
  <td>
  <% if current_user.admin? && !current_user?(user) %>
      <%= link_to "", user, method: :delete, data: { confirm: t('are_you_sure') }, class: "glyphicon glyphicon-trash" %>
  <% end %>
  </td>
</tr>