<div class="container">
  <footer>
    <hr>
    <nav>
      <small>
        The <a href="https://github.com/valasek/taekwondo">Taekwondo competition portal</a>
        by <a href="https://cz.linkedin.com/in/stanislavvalasek/">Stanislav Valášek</a>
      </small>
      <ul class="nav nav-pills pull-right">
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>
  </footer>
</div>